## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## Rubinius
*.rbc

## PROJECT::GENERAL
*.gem
rdoc
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
log
/.yardoc
/_yardoc/
measurements

## BUNDLER
/.bundle/
/Gemfile.lock

## PROJECT::SPECIFIC
vendor
